body{
    display: flex;
    margin: 0;
    min-height: 100vh;

}

#root{
    margin: 0;
    height: 100vh;
    width: 100%;
    
}

.wrapper{
    display: grid;
    grid-template-areas: 
    "a b"
    "c d"
    ;

}

h1{
    text-align: center;
    padding: 1%;
    margin: 0;
}

h2{
    margin: 0;
    padding-left: 10%;
}

h3{
    margin: 0;
    padding-left: 2%;
}

section{
    margin: 15px;
    height: 400px;
    width: 905px;
}

.mostrar{
    display: flex;
    align-items: baseline;
}

.DoNow{
    background-color: rgb(98, 151, 194);

}

.Schedule{
    background-color: rgb(241, 154, 53);

}

.Delegate{
    background-color: rgb(230, 95, 5);

}

.Delete{
    background-color: rgb(105, 105, 110);
    
}